In [3]:
import pandas as pd
import requests as rq
import time

In [4]:
df = pd.read_csv('dictionary.csv')
df.head()

,Unnamed: 0,eng,part,mean
0,0,aardvark,noun,"The nocturnal, insectivorous, burrowing, mamma..."
1,1,aargh,interjection,"Expressing annoyance, dismay, embarrassment or..."
2,2,aback,adverb,Towards the back or rear; backwards.
3,3,abacus,noun,A table or tray scattered with sand which was ...
4,4,abandon,verb,"To give up or relinquish control of, to surren..."

In [5]:
df.to_sql()

TypeError: to_sql() missing 2 required positional arguments: 'name' and 'con'